@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  cursor: none;
}
